/* ==============================
   Media Queries
   ============================== */

    @media screen and (min-width: 768px) {
        
        /*----- Main Image ----- */

        #mainimg {
            height: 35rem;
        }


        /*----- Top Bar ----- */

        #topbar {
            font-size: .8rem;
            margin: none;
        }
        
        #topinfo {
            width: 95%;
            flex-direction: row;
            margin: none;
        }

        #topinfo .topitem {
            padding: .5rem 0;
            border: none;
        }

        .topname {
            font-size: .8rem;
            flex-grow: 3;
        }

        #topinfo .topitem:not(:last-child) {
            border: none;
        }

        #topbar .icondiv {
            width: 15%;
        }

        #topinfo .facebook {
            width: .8rem;
            margin-right: 0;
        }

        /*----- Services ----- */

        .servicesbox {
            flex-wrap: nowrap;
            margin: none;
        }

        .service {
            font-size: 1rem;
            width: 20%;
            margin: 0 1rem;
            text-align: left;
            height: 37rem;
        }

        .service img {
            width: 80%;
            display: block;
        }


        .servicesbox .service:not(:last-child){
            margin-bottom: 0;
        }

        .servicetitle {
            font-size: 1.9rem;
            text-align: center;
        }

        .serviceinfo {
            position: absolute;
            bottom:0;
        }

         /*----- About ----- */

         .aboutbox {
             font-size: 1.3rem;
         }

        .divider {
            border-top: .25rem dashed #7CB342;
        }

        /*----- Gallery ----- */

        .gallerybox {
            width: 85%;
        }

        .slick-prev:before,
        .slick-next:before
        {
            display: block;
        }

        /*----- Contact Box ----- */

        #contactbox {
            width: 40%;
        }

        #contact {
            background-image: url("../images/grass.jpeg");
            background-position: bottom;
            background-repeat: no-repeat, repeat;
            background-size: 100% 100%;
            padding-bottom: 30px;
        }

    }

    @media screen and (min-width: 895px) {
        /*----- Header ----- */

        #mainimg img {
            width: 50%;
        }

        #topinfo .facebook {
            width: 1.2rem;
        }

        /*----- Services ----- */

        .service {
            height: 35rem;
        }

        /*----- Gallery ----- */

        .gallerybox{
            width: 80%;
        }

    }

    @media screen and (min-width: 1200px) {

        /*----- Services ----- */

        .service img {
            width: 55%
        }

        .service {
            height: 30rem;
        }

        /*----- Gallery ----- */

        .gallerybox{
            width: 75%;
        }

        /*----- Contact Box ----- */

        #contact {
            background-size: 100% 100%;
        }


    }

    @media screen and (min-width: 1460px) {
        
        /*----- Header ----- */

        #mainimg img {
            width: 47%;
        }

        /*----- Services ----- */

        .service {
            height: 28rem;
        }

        /*----- Contact Box ----- */

        #contactbox {
            width: 28%;
        }

        /*----- Gallery ----- */

        .gallerybox{
            width: 60%;
        }

        .slick-prev {
            left: -70px;
        }

        .slick-next {
            right: -60px;
        }

    }