/* ==============================
   BASE
   ============================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    margin: 0 auto;
}

.divider {
    background-color: #fff;
	border-top: .4rem dashed #7CB342;
    margin: 3rem auto;
}

#topbutton {
    display: none;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(66,66,66 , .6);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#topbutton:hover {
    background-color: #555;
}

#topbutton img {
    width: 2.4rem;
}

/* ==============================
   HEADER
   ============================== */

#header {
    width: 100%;
}

#mainimg {
    text-align: center;
}

#mainimg img {
    margin: 2rem 1rem;
    width: 75%;
}


/*----- Top Bar ----- */

#topbar {
    background-color: #3a3a3a;
    color: #777777;
    font-size: 1.5rem;
    font-weight: 580;
}

#topinfo {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#topinfo .phonelink {
    color: #777777;
}

#topinfo .phonelink:hover {
    color: #fff;
}

#topinfo .phonelink:visited {
    color: #777777;
}

.phonelink {
    margin-left: 5px;
}

#topinfo .topitem {
    width: 100%;
    padding: .9rem .8rem;
    margin-bottom: 2px;
    text-align: left;
    display: flex;
    align-items: center;
}

#topinfo .topitem:not(:last-child) {
    border-bottom: 1px solid #777777;
}

#topinfo img {
    width: 4%;
    margin-right: 10px;
}

#topinfo .facebook {
    width: 7%
}

.topname {
    font-weight: 600;
    font-size: 1.8rem;
}


/*----- Top Image ----- */

#mainimg {
    height: 45rem;
    background-image: url("../images/carousel.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 6px solid #a2c046;
    border-bottom: 7px solid #a2c046;
}


/* ==============================
   Services 
   ============================== */

.servicesbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0 0 0;
}

.servicesbox .service:not(:last-child){
    margin-bottom: 25px;
}

.service {
    width: 75%;
    text-align: center;
    font-size: 2rem;
}

.service img {
    width: 50%;
    display: block;
    margin: 1.5rem auto;
}

.servicetitle {
    font-family: 'Slabo 27px', serif;
    font-weight: 800;
    margin-bottom: 1rem;
    font-size: 3rem;
}


/* ==============================
   About
   ============================== */

   .aboutbox {
       width: 85%;
       margin: 30px auto;
       font-size: 2rem;
   }


/* ==============================
   Gallery
   ============================== */

   #gallery {
       margin: 30px auto 50px auto;
   }

   .gallerybox{
       width: 85%;
       margin: auto;
   }

   .gallerybox img{
       width: 100%
   }

    .slick-prev:before,
    .slick-next:before
    {
        display: none;
    }

/* ==============================
   Contact
   ============================== */

   #contact {
       background-image: url("../images/grass.jpeg");
       background-position: bottom;
       background-repeat: no-repeat, repeat;
       background-size: 100% 80%;
       padding-bottom: 30px;   
             
   }

   #contactbox {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       border: 6px solid #EEEEEE;
       margin: auto;
       width: 80%;
       background-color: rgba(255, 255, 255, .7);
       padding: 10px 0 25px 0;
   }

   #contactbox h3{
       width: 100%;
       text-align: center;
       font-size: 2em;
       margin: 15px 0 10px 0;
   }

   .client_input{
       width: 85%;
       margin: 13px 0;
       padding: 0 10px;
       font-size: 1.6em;
       border-style: solid;
       border: none;
       border-radius: 6px;
       background-color: #F5F5F5;
   }

   #client_name,
   #client_email,
   #client_phone{
       height: 70px;
   }

   #client_message {
       margin: 13px 0 26px 0;
       padding: 10px;
   }

   #contactbuttons {
       width: 100%;
       text-align: center;
   }

   .formsubmit {
        border: none;
        background: none;
        cursor: pointer;
        width: 85%;
        font-size: 1.8rem;
        padding: 20px 80px;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        outline: none;
        position: relative;
        transition: all 0.3s;
        background: #8BC34A;
        color: #fff;
        box-shadow: 0 6px #689F38;
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
        border-radius: 5px;
   }

   .formsubmit:hover {
        box-shadow: 0 8px #689F38;
        top: -2px;
    }

    .formsubmit:active {
        box-shadow: 0 0 #689F38;
        top: 6px;
    }

/* ==============================
   Map
   ============================== */

   #map {
       width: 100%;
       height: 600px;
   }


/* ==============================
   Footer
   ============================== */

   .upper {
       background-color: #3c3c3c;
       height: 2rem;
   }

   .lower {
       background-color: #292929;
   }

  #footer .lower .freepik {
       color: #565656;
       font-size: .9rem;
       text-align: center;
       padding-bottom: 1.7rem;
   }

     #footer .lower .copyright {
       color: #565656;
       font-size: 1rem;
       text-align: center;
       padding-top: 1.7rem;
   }

    #footer .lower .freepik a{
        color: #565656;
    }