/* ==============================
   BASE
   ============================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    margin: 0 auto;
}

/* ==============================
   HEADER
   ============================== */

#header {
    width: 100%;
}

#mainimg {
    text-align: center;
}

#mainimg img {
    margin: 2rem 1rem;
    width: 80%;
}

/*----- Top Bar ----- */

#topbar {
    background-color: #3a3a3a;
    color: #777777;
    font-size: 1rem;
    font-weight: 580;
}

#topinfo {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#topinfo .topitem {
    width: 100%;
    padding: .9rem .8rem;
    text-align: left;
    display: flex;
    align-items: center;
}

#topinfo .topitem:not(:last-child) {
    border-bottom: 1px solid #777777;
}

#topinfo img {
    width: 4.5%;
    margin-right: 10px;
}

.topname {
    font-weight: 600;
    font-size: 1.1rem;
}

/*----- Top Image ----- */

#mainimg {
    height: 31rem;
    background-image: url("../images/carousel.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 4px solid #a2c046;
    border-bottom: 5px solid #a2c046;
}


/* ==============================
   Services 
   ============================== */

.servicesbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0 0 0;
}

.servicesbox .service {
    width: 90%;
    height: 40rem;
    text-align: center;
    background-color: green;
}

/* ==============================
   About
   ============================== */

   .aboutbox {
       width: 90%;
       margin: 30px auto;
       font-size: 1.3rem;
   }



/* ==============================
   Contact
   ============================== */

   #contact {
       background-image: url("../images/grass.jpeg");
       background-position: bottom;
       background-repeat: no-repeat, repeat;
       background-size: 100% 80%;
       padding-bottom: 30px;         
   }

   #contactbox {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       border: 6px solid #EEEEEE;
       margin: auto;
       width: 85%;
       background-color: rgba(255, 255, 255, .7);
       padding: 10px 0;
   }

   #contactbox h3{
       width: 100%;
       text-align: center;
       font-size: 1.6em;
       margin: 15px 0 5px 0;
   }

   .client_input{
       width: 85%;
       margin: 13px 0;
       padding: 0 10px;
       font-size: 1.2em;
       border-style: solid;
       border: none;
       border-radius: 6px;
       background-color: #F5F5F5;
   }

   #client_name,
   #client_email,
   #client_phone{
       height: 65px;
   }

   #client_message {
       margin: 13px 0 26px 0;
       padding: 10px;
   }


/* ==============================
   Map
   ============================== */

   #map {
       width: 100%;
       height: 550px;
   }

/* ==============================
   Footer
   ============================== */

   .upper {
       background-color: #3c3c3c;
   }

   .lower {
       background-color: #292929;
   }